# Gradle
.gradle/
build/
local.properties

# IDE
.idea/
*.iml
*.iws
*.ipr

# Android
*.apk
*.ap_
*.dex
*.class
captures/
.externalNativeBuild/
.cxx/

# OS
.DS_Store
Thumbs.db

# Signing
*.jks
*.keystore

# Workbuddy
.workbuddy/
